.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 24px;
    color: var(--dark-blue);
    text-transform: uppercase;
    padding-left: 20px;
}

.search-input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: black;
    outline: none;
    width: 250px;
}

.search-button {
    padding: 10px 20px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

.search-button:hover {
    background-color: var(--main-color);
}

.error {
    background: var(--dark-blue);
    color: var(--white);
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin: 10px auto;
}

@media only screen and (max-width: 768px) {
    .search-container {
        padding: 10px;
        width: 100%;
        max-width: 400px;
    }

    .search-input {
        width: 100%;
        max-width: 200px;
    }
}