#error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
  }

  #error-message img {
    width: 400px;
    margin-top: 20px;
  }