table {
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: var(--dark-blue);
    color: white;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: white;
}

select {
    padding: 4px;
    font-size: 20px;
    background-color: white;
}

.input {
    padding: 4px 8px;
    font-size: 20px;
    background-color: white;
}

input[type="submit"] {
    padding: 4px 8px;
    font-size: 20px;
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--main-color);
}

@media screen and (max-width: 600px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
    }

    td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}